@charset "UTF-8";
/*? Paletas de cores 
#272040 - roxo escuro
#0B0B0D - preto
#F2AC57 - laranja claro
#8C4E2A - marrom
#261B1B - marrom escuro
#FFFFFF - branco
?*/

@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');

* {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --roxo: #272040;
    --preto: #0B0B0D;
    --laranja: #F2AC57;
    --marrom: #8C4E2A;
    --marrom-escuro: #261B1B;
    --branco: #FFFFFF;
    --font-military: 'Wallpoet', cursive;
}

body, html {
    background-color: var(--marrom) ;
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

h1 {
    font-family: var(--font-military);
    font-weight: initial;
    font-size: 40px;
}

section#login {
    position: absolute; /* Centraliza o elemento na tela */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta a posição para o centro exato */
    background-color: #ffffff;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden; /* Garante que o conteúdo não ultrapasse os limites do contêiner */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.377); /* Adiciona uma sombra suave ao redor do contêiner */

    transition: width 0.3s height 0.3s; /* Adiciona uma transição suave para mudanças de largura e altura */
    transition-timing-function: ease; /* Define a função de temporização da transição */

}

section#login > div#imagem {
    display: block; /* Garante que o div seja exibido como um bloco */
    background: var(--laranja) url(../imagens/pexels.jpg); /* Substitua pelo caminho correto da imagem */
    background-size: cover; /* Ajusta a imagem para cobrir todo o div */
    background-position: center; /* Centraliza a imagem */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 250px;
    height: 200px;
}

section#login > div#formulario {
    display: block; /* Garante que o div seja exibido como um bloco */
    padding: 10px;


}

div#formulario >h1 {
    text-align: center;
    margin-bottom: 10px;

}

dvi#formulario > p {
    font-size: 0.8em;
}